form#LoginForm{
    
    background-color: rgba(214, 168, 106, 0.825);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto;
}

form#LoginForm label,
form#LoginForm input,
form#LoginForm span,
form#LoginForm textarea {
    width: 100%;
    padding: 10px 1px;
    
}

form#LoginForm label {
    font-weight:bold;
}

form#LoginForm input {
    border: 1px solid #ccc;
    border-radius: 4px;
}
#FormContainer{
    margin-top:100px;
}
form#LoginForm button {
    background-color: #967259c3;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

form#LoginForm button:hover {
    background-color: rgb(109, 78, 20);
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}


form#LoginForm span{
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 40px;
}

form#LoginForm div{
    margin-bottom: 20px;
}
body{
    background-image: url("/assets/images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}

nav {
    position: sticky;
    top: 1px;
    height: 90px;
    background-color: rgba(77, 45, 6, 0.799);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 600;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav img{    
    width: 130px;
    padding: 10px;
}